body {
    background-image: url('@{/img.png}'); /* path is relative to /static */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* optional: readability */
    padding: 30px;
    border-radius: 15px;
    margin-top: 40px;
}
